.ant-layout.mainLayoutContainer {
    height: 100vh;
}

.ant-layout .layoutHeader,
.ant-layout .layoutFooter {
    background: radial-gradient(at bottom, rgba(0, 138, 171, 0.05) 0%, rgba(0, 138, 171, 0.34) 100%);
}

.spinContainer {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideNavMenu .ant-menu-item {
    height: 35px;
    line-height: 35px;
}